*{
    box-sizing: border-box;
    margin: 0 auto;
    }
    body{
    width: 960px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    }
    header{
        border-bottom: grey solid 1px;
        padding: 20px;
        margin-bottom: 30px;
        padding-left: 0;
        margin-top: 50px;
        color: #4A4A4A;
        position: relative;
    }
    h1{
        line-height: 80px;
    }
    .principal{
        overflow: hidden;
        position: relative;
    }
    nav{
    width: 300px;
    float: left;
    padding: 20px;
    }
    nav ul{
    line-height: 30px;
    position: fixed;
    }
    nav ul li{
    list-style: none;
    }
    nav ul li a{
    text-decoration: none;
    color: black;
    }
    h3{
        margin-bottom:50px;
    }
    h3, h4, main a{
       color: #4A4A4A;
       text-decoration: none
    }
    main a{
       color: #4A4A4A;
       text-decoration: none;
       font-weight: bold;
    }
    p{
        color: grey;
    }
    main{
    width: 660px;
    float: left;
    padding: 20px;
    border-left: solid 1px grey;
    }
    main section{
    overflow: hidden;
    margin-top: 20px;
    }
    section img{
        float: right;
        border-radius: 5px;
        width: 300px;
    }
    main section article{
    margin-left: 20px;
    margin: 20px;
    }
    footer{
        background-color: #D8D8D8;
        overflow: hidden;
        padding: 20px;
        border-top: solid 1px grey;
        border-bottom: solid 1px grey;
        position: relative;
    }
    footer img{
    width: 250px;
    float: left;
    margin-left: 20px;
    }
    footer article{
    line-height: 25px;
    float: right;
    text-align: right;
    margin-right: 30px;
    margin-top: 15px;
    font-weight: bold;
    }
    footer article ul{
    margin-top: 20px;
    }
    footer article ul li{
        list-style: none;
    }
    footer article ul li a, footer article a{
        text-decoration: none;
        color: white;
    }
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    